select {
    position: absolute;
    left:7px;
    top:510px;
}

.hgdp, .hgdp svg {
    position: absolute;
}

.tooltip {
    position: absolute;
    line-height: .7;
    font-weight: bold;
    padding: 8px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    /*font-weight: bold;*/
    font: 11.5px sans-serif;
    border-radius: 2px;
    pointer-events: none;
}
.hgdp svg {
    width: 60px;
    height: 20px;
    padding-right: 100px;
    font: 7px sans-serif;
}

.hgdp circle {
    stroke: white;
    stroke-width: 1.5px;
}

body {
    background-color: cornsilk;
}

#map, #top20Suburbs {
    height: 500px;
    width: 70%;
}

b {
    color: #D55E2D;
}

div.half_width {
    width: 70%;
    text-align: justify;
    text-justify: inter-word;
}