.center {
    text-align: center;
}

.grey {
    color: grey;
}

.margin-top {
    margin-top: 20px;
}

body {
    background-color: cornsilk;
}

#map {
    height: 500px;
}

.stations, .stations svg {
    position: absolute;
}
.stations svg {
    width: 60px;
    height: 20px;
    padding-right: 100px;
    font: 10px sans-serif;
}
.stations circle {
    fill: brown;
    stroke: black;
    stroke-width: 1.5px;
}